<!doctype html>
<html>
  <head>
    <title>Xen</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/font-awesome.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="wrap">
      {# <header>
      <h1>Test</h1>
      </header> #}
      {% block main %}
      {% endblock %}
    </div>
    <footer>
    </footer>
  </body>
</html>
